@charset "ISO-8859-1";

*{
    margin: 0;
	padding: 0;
}

#container {
	width: 970px;
}

#linkBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}    
 
#dateBox {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: blue;
}

#timeBox {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: green;
}